/*................................reset...........................................*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*................................clearfix...........................................*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}

body{
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 line-height: 24px;
 color: #fff;
 font-weight: 400;
}

header{
  padding:50px 0 0;  
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;  
  padding:5px 0; 
  background: rgba(0,0,0,1);
}
.backcolor{
  background: rgba(0,0,0,1);
}
header.sticky .nav-collapse ul{
  padding-top: 10px;
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width:767px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
.logo {   
  float: left;   
}

/* ------------------------------------------
  MASK
  --------------------------------------------- */

  .mask {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    background: rgba(0,0,0, .5);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  .android .mask {
    -webkit-transition: none;
    transition: none;
  }

  .js-nav-active .mask {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: 767px) {
    .mask {
      display: none !important;
      opacity: 0 !important;
    }
  }

  .fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  .nav-collapse,
  .nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .nav-collapse,
  .nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left;
  }

  @media screen and (min-width: 767px) {
    .nav-collapse {
      float: right;
      width: auto;   
    }
  }

  .nav-collapse li {
    float: left;
    width: 100%;
  }

  @media screen and (min-width: 767px) {
    .nav-collapse li {
      width: auto;
      margin: 0 2px;
    }
  }

  .nav-collapse a {     
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none; 
    padding: 5px 10px;
    color: #fff;
    width: 100%;
    float: left;
    text-align: center;  
  }

  .nav-collapse a:active,
  .nav-collapse .active a{  
    color: #fab493; 
    transition:all 0.5s; 
  }
  .nav-collapse .active a:hover{
    color: #fff; 
    transition:all 0.5s; 
  }
  .nav-collapse a:hover{
    color: #fab493; 
    transition:all 0.5s; 
  }


  @media screen and (min-width: 767px) {
    .nav-collapse ul ul a {
      display: none;
    }
  }
  @font-face {
    font-family: "responsivenav";
    src:url("../icons/responsivenav.eot");
    src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
  }

  .nav-toggle:before {
    color: #fff; /* Edit this to change the icon color */
    font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261"; /* Hamburger icon */
    text-indent: 0;
    speak: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  .nav-toggle.active:before {
    font-size: 24px;
    content: "\78"; /* Close icon */
  }
  section{
    text-align: center;
  }
  #banner{
    background: #000000 url(../img/banner.jpg) no-repeat center center;  
    background-size: cover;       
    text-align: center;
    padding: 230px 0 140px;
  }   
  #banner h1{
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
  span.line{
    display: block;    
    width: 285px;
    height: 3px;
    margin-top: 5px;
    background: #fff;
  }
  #banner p.headp,#banner p.headpnew{
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-style: italic;
    padding-top: 40px;
    text-transform: uppercase;
  }
  #banner p.headpnew{
    font-size: 20px;  
    padding-top: 0px;
    padding-bottom: 220px;
  }
  #banner h2{
    font-size: 55px;
    line-height: 60px;
    text-align: right;
    font-weight: 700;
  }
  #banner p.headpottom{
    font-size: 33px;    
    text-align: right;
    font-weight: 700;
    line-height: 40px;
  }
  #service,#team{
    text-align: center;
    color: #000000;
    padding: 150px 0 130px;
  }
  #service h3.bigtitle,#contact h3.bigtitle{
    font-size: 26px;
    line-height: 30px;
  }
  #service p.smalltitle,#procedure h3.smalltitle,#team h3.smalltitle, #contact p.smalltitle{
    font-size: 22px;
    line-height: 30px;
  }
  #service p.innerp,#work .innercontent p.innerp,#contact p.innerp{
    font-size: 16px;
    line-height: 20px;
    padding-top: 100px;
  }
  #service article{
    padding-top: 130px;
  }
  #service i,#work i{
    color:#666666;
  }
  #service h3.title,#work h3.bigtitle,#work .innercontent h3.bigtitle,#procedure h3.bigtitle,#blog h3.bigtitle,#client h3.bigtitle,#team h3.bigtitle,footer p.bigtitle{
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
    padding: 50px 0 25px;
  }
  #service article p.smalltitle,#work p.smalltitle,#blog p.smalltitle,#client p.smalltitle,#team h3.smalltitle,#team p.innerp{
    font-size: 18px;
    line-height: 20px;
  }
  #work,#blog{    
    color: #000000;
    padding: 150px 0 60px;
    background-color: #f3f3f3;
  }
  #work h3.bigtitle,#work .innercontent h3.bigtitle,#blog h3.bigtitle,#client h3.bigtitle,#team h3.bigtitle{
    padding: 0;
    font-weight: 400;
  }
  #work p.smalltitle,#blog p.smalltitle,#team h3.smalltitle{
    font-weight: 500;
    line-height: 30px;
  }
  .maincontent{
    width: 25%;
    float: left;   
    padding-top: 85px;
  }

  .innercontent{
    padding: 30px 10px 20px;
    min-height: 250px;
  }
  .innercontentnew{
    padding: 90px 10px 20px;
    min-height: 250px;
  }
  .maincontent img{
    width: 100%;
    display: block;
  }
  .imgdiv{
   min-height: 250px;
 }
 #work .innercontent h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 33px;
}
#work .innercontent h3.worknew,#blog h3.title{
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;
}
#work .innercontent p.innerp{
  padding: 20px 0 15px;
}
#work p.innerp{
  padding-top: 70px;
}
a.bluespan{
  text-decoration: none;
  color: #0060d7;
}
#testimonial{
  text-align: center;
}
#testimonial,#contact{
 background: #000000 url(../img/banner2.jpg) no-repeat center center;  
 background-size: cover;     
 padding: 100px 0 120px;
}
#testimonial p.smalltitle{
  font-size: 24px;
  line-height: 40px;
}
#testimonial span{
  margin: 5px auto 50px;
}
p.italicp{
  font-style: italic;
}
#testimonial .fa-smile-o{
  margin: 0 20px;
  position: relative;
  top: 15px;
}
#procedure{
  padding: 160px 0 120px;
  color: #000000;
  text-align: left;
}
#procedure article{
  border-left: 3px solid #fab493;
  padding-left: 20px;
  margin-top: 100px;
}
#procedure h3.bigtitle{
  font-size: 26px;
}
#procedure h3.toppad{
  padding: 110px 0 25px;
}
#procedure article p.innersmall,#procedure p.innersmall,#team p.innersmall{
  font-size: 16px;
  line-height: 20px;
  padding-top: 25px;
}
.borderbottom{
  border-bottom: 2px solid #d9d9d9; 
  padding-bottom: 70px;
}
#procedure p.innersmall{
  padding-top: 0;
}
#procedure button.get,#contact button.get{
  border:1px solid #f46523;
  background-color: #f46523;
  outline: 0;
  width: 290px;
  height: 67px;
  line-height: 67px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  margin-top: 140px;
  float: right;
}
#procedure button.get:hover,#contact button.get:hover{
  background-color: #fff;
  color: #f46523;
  transition: all 0.4s ease;
}
#blog .blog-left{
  width: 67%;
  float: left;
}
.toppad{
 padding-top: 65px;
}
#blog .blog-right{
  width: 33%;
  float: left;
}
.blogimg,.blogcontent{
  width: 50%;
  float: left;
  text-align: left; 
}
.blogcontent{
  padding-right: 25px;
}
.borderdiv{
  border: 2px solid #cfcfcf;
  padding: 20px 20px 0 90px;
  margin-left: -45px;
  margin-top: 30px;
}
.borderdivnew{
  border: 2px solid #cfcfcf;
  padding: 20px 45px 0 45px;
  margin-right: -75px;
  margin-top: 40px;
  position: relative;
}
.borderdivnew span.number{
  left: 67%;
}
.borderdivfull span.number{
  left: 46%;
}
.borderdivfull{
  border: 2px solid #cfcfcf;
  padding: 90px 0 0 30px;
  margin-top: -45px;
  margin-left: 35px;
  text-align: left;
  position: relative;
  margin-right: 20px;
}
#blog img{
  width: 100%;
  display: block;  
}
#blog h3.title {
  text-transform: uppercase;
  padding-bottom: 15px; 
  line-height: 30px;
}
#blog a{
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
}
#blog p.innerp{
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
span.number{
 font-size: 18px;
 width: 50px;
 height: 50px;
 background-color: #cfcfcf;
 display: inline-block;
 text-align: center;
 padding-top: 12px;
 font-weight: 400;
 position: relative;
 left: 53%;
}
.blogimgfull{
  width: 100%;
}
.blogimgfull img{
  margin-top: 5px;
}
#blog a i{
  color: #959595;
  margin-top: 45px;
}
#client{    
  color: #fff;
  padding: 130px 0 100px;
  background: #000000 url(../img/banner2.jpg) no-repeat center center;  
  background-size: cover;
}
#client .innerclient i,#client .innerclientnew i{
  color: #000000;
  line-height: 100px;
}
#client .innerclient{
  background-color: #fff;
  max-width: 230px;
  width: 100%;
  height: 115px;
}
#client .maincontentdiv{
  max-width: 880px;
  margin: 0 auto;
}
#client .innerclientnew{
  background-color: #fff;
  max-width: 230px;
  height: 115px;
  margin: 0 auto;
}
#client .toppad{
  padding-top: 100px;
}
#client p.smalltitle{
  padding-top: 45px;
}
#team article{
  text-align: left;
  padding-top: 50px;
}
#team p.innersmall{
  padding: 10px 0;
}
#team article p.smalltitle{
  font-weight: 400;
  font-size: 22px;
}
#team article i{
  color: #999999;
  margin-right: 10px;
  font-size: 20px;
}
#team p.innerp{
  padding-top: 55px;
}
#contact {
  padding: 140px 0 90px;
}
#contact button.get{
  float: none;
  margin-top: 70px;
}
footer {
  background-color: #181818;
  color: #000000;
}
footer .product{
  width: 59.5%;
  float: left;
  min-height: 490px;
  background-color: #fff;
}
footer .centerdiv{
  width: 0.5%;
  float: left;
  background-color: #181818;
  min-height: 490px;
}
footer .office{
  width: 40%;
  float: left;
  background-color: #282828;
  min-height: 490px;
}
.innerproduct{
  width: 50%;
  float: left;
  border-bottom: 2px solid #cfcfcf;
  padding-bottom: 80px;
}
footer article.productarticle{
  max-width: 590px;  
  float: right;
  margin-right: 15%;
  width: 100%;
  padding: 110px 0 40px;
}
footer address.officearticle{
  color: #fff;
  padding: 110px 0 0 50px;
}
h4{
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 70px;
}
footer p.innerp{
  font-size: 18px;
  line-height: 24px;
}
footer p.smallp{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 35px 20px 0;
  clear: both;
}
footer p.bigtitle{
  padding: 0 0 30px;
}
footer p.bigp,footer p.lightp{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 35px;
}
footer p.lightp{ 
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 0px;
}
footer .innerproduct a{
  text-decoration: none;
  color: #000000;
}
a.headc{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
a.headc:hover,#team article i:hover,#blog a i:hover,footer .innerproduct a:hover{
  color: #f46523;
  cursor: pointer;
  transition: all 0.4s ease;
}
footer p.linkp{
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}
footer .row{
  padding-top: 40px;
  padding-bottom: 40px;
}
/* New */

.os-animation {
  opacity: 0;
}
.os-animation.animated {
  opacity: 1;
}
.staggered-animation {
  opacity: 0;
}
.staggered-animation.animated {
  opacity: 1;
}
/*LOADER EFFECT*/
/*Paste this css to your style sheet file or under head tag*/
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9998;
 background: #000000;
}
.cssload-square {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 19px;
  height: 19px;
  transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.cssload-square-part {
  position: absolute;
  width: 19px;
  height: 19px;
  z-index: 1;
  animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -o-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -ms-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -webkit-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -moz-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.cssload-square-green {
  background: rgb(244,101,35);
  right: 0;
  bottom: 0;
  animation-direction: alternate-reverse;
    -o-animation-direction: alternate-reverse;
    -ms-animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
    -moz-animation-direction: alternate-reverse;
}

.cssload-square-pink {
  background: rgb(244,101,35);
  left: 0;
  top: 0;
}

.cssload-square-blend {
  background: rgb(255,255,255);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  animation: blend-anim 0.92s ease-in infinite;
    -o-animation: blend-anim 0.92s ease-in infinite;
    -ms-animation: blend-anim 0.92s ease-in infinite;
    -webkit-animation: blend-anim 0.92s ease-in infinite;
    -moz-animation: blend-anim 0.92s ease-in infinite;
}





@keyframes blend-anim {
  0% {
    transform: scale(0.01, 0.01) rotateY(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    transform: scale(1, 1) rotateY(0);
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-o-keyframes blend-anim {
  0% {
    -o-transform: scale(0.01, 0.01) rotateY(0);
    -o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -o-transform: scale(1, 1) rotateY(0);
    -o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -o-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-ms-keyframes blend-anim {
  0% {
    -ms-transform: scale(0.01, 0.01) rotateY(0);
    -ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -ms-transform: scale(1, 1) rotateY(0);
    -ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -ms-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-webkit-keyframes blend-anim {
  0% {
    -webkit-transform: scale(0.01, 0.01) rotateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -webkit-transform: scale(1, 1) rotateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -webkit-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@-moz-keyframes blend-anim {
  0% {
    -moz-transform: scale(0.01, 0.01) rotateY(0);
    -moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    -moz-transform: scale(1, 1) rotateY(0);
    -moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    -moz-transform: scale(0.01, 0.01) rotateY(0);
  }
}

@keyframes cssload-part-anim {
  0% {
    transform: translate3d(-10px, -10px, 0);
  }
  100% {
    transform: translate3d(10px, 10px, 0);
  }
}

@-o-keyframes cssload-part-anim {
  0% {
    -o-transform: translate3d(-10px, -10px, 0);
  }
  100% {
    -o-transform: translate3d(10px, 10px, 0);
  }
}

@-ms-keyframes cssload-part-anim {
  0% {
    -ms-transform: translate3d(-10px, -10px, 0);
  }
  100% {
    -ms-transform: translate3d(10px, 10px, 0);
  }
}

@-webkit-keyframes cssload-part-anim {
  0% {
    -webkit-transform: translate3d(-10px, -10px, 0);
  }
  100% {
    -webkit-transform: translate3d(10px, 10px, 0);
  }
}

@-moz-keyframes cssload-part-anim {
  0% {
    -moz-transform: translate3d(-10px, -10px, 0);
  }
  100% {
    -moz-transform: translate3d(10px, 10px, 0);
  }
}